{% if pageCount > 1 %}
<div class="pagination">
  <ul>
     {% if previous is defined and current != previous %}
        <li class="prev previuos">
            <a href="{{ path(route, query|merge({'page': previous})) }}">&laquo;</a>
        </li>
    {% endif %}

    {% if first is defined and current != first and first < firstPageInRange %}
        <li class="first prev">
            <a href="{{ path(route, query|merge({'page': first})) }}">1</a>
        </li>
        <li class="disabled"><a href="">...</a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="">
                <a href="{{ path(route, query|merge({'page': page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="current active"><a href="">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if last is defined and current != last and last > lastPageInRange %}
        <li class="disabled"><a href="">...</a></li>
        <li class="last">
            <a href="{{ path(route, query|merge({'page': last})) }}">{{ last }}</a>
        </li>
    {% endif %}

    {% if next is defined and next != current %}
        <li class="next arrow">
            <a href="{{ path(route, query|merge({'page': next})) }}">&raquo;</a>
        </li>
    {% endif %}
  </ul>
</div>
<script type="text/javascript">
    $('.pagination').css({'width' : $('.pagination ul').outerWidth()})
</script>
{% endif %}
