{% extends "::base.html.twig" %}

{% block content %}
<div class="content">
	<div class="page-header">
		<div class="row">
		  <div class="span9">
		  		<h2>Using a component in your game</h2>
				<div style="width: 500px" class="span-two-thirds">
					<pre class="module-usage print">
Crafty.modules({ moveto: 'DEV' }, function () {
    //module is ready
    Crafty.e("MoveTo, 2D, DOM");
});
					</pre>
				</div>
		  </div>
		  <div class="span5 submit-component">
		    <a href="{{ path('fwm_crafty_components_add_new') }}" class="btn large primary">Submit new component</a>
		  </div>
		</div>
	</div>
	<div class="row">
	  <div class="span14">
	  	<div id="crafty-box" class="hero-unit span5 pull-left">
	  	 	<h1 class="title">{{ crafty.name }}  <small>by {{ crafty.authorName }}</small></h1>
	  	 	<div class="desc">{{ crafty.description }} </div>
			<div class="homepage">
				{% if crafty.homepage %} <div class="homepage">Homepage: <a href="{{ crafty.homepage }}">{{ crafty.homepage }}</a></div> {% endif %}
			</div>
			<div class="options">
					<a href="{{ path('fwm_crafty_components_single', {'id' : crafty.id, 'name' : crafty.name|slugify}) }}" class="btn primary more">See more</a>
					<a href="#" class="btn success">Customize (soon)</a>
					{% set release = craftyVersion %}
					<span class="release">
						Latest Release ({{ release.value }}) : <a href="http://cdn.craftycomponents.com/{{ crafty.name|lower }}-{{release.value|lower }}.js">min</a> | <a href="http://cdn.craftycomponents.com/{{ crafty.name|lower }}-{{release.value|lower }}-uncompressed.js">full</a>
					</span>
			</div>
	  	</div>
	  	<div id="flexpi-box" class="hero-unit span5 pull-left">
	  		<img src="http://flexpi.com//bundles/fwmflexpipage/images/logo-flexpi.png" class="flexpi-logo">
	  	 	<h1 class="title"><small>by Fly With Monkey</small></h1>
	  	 	<div class="desc">HTML5 games developers needs tools! Use custom data logger, social networks integration, payments integration and give badges for games users.</div>
			<div class="homepage">
				{% if crafty.homepage %} <div class="homepage"><a title="Tools for html5 games developers" href="http://flexpi.com">Flexpi.com - tools for html5 games developers</a></div> {% endif %}
			</div>
			<div class="options">
				<a href="http://flexpi.com/register/" title="Tools for html5 games developers" class="btn primary more">Create an acount</a>
				<a href="http://flexpi.com/documentation/" title="Flexpi.com documentation" class="btn success">Documentation</a>
			</div>
	  	</div>
	  	<div class="clearfix"></div>
	  	<h1>New Components</h1>
		<table class="zebra-striped" id="components">
        <thead>
          	<tr>
				<th class="header">Component name</th>
				<th class="header">Description</th>
				<th class="header">Author</th>
				<th class="header">Latest release</th>
				<th class="header">Latest RELEASE date</th>
			</tr>
        </thead>
        <tbody>
        {% for comp in components %}
            {% include 'FWMCraftyComponentsBundle:Index:singleSmallComponent.html.twig' with {'component': comp.component, 'version' : comp.version} %}
        {% endfor %}
      </tbody>
      </table>
        <div class="navigation">
        	{{ componentsPaginator.render()|raw }}
    	</div>
	  </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  $(function() {
    $("table#components").tablesorter({ sortList: [[4,1]] });
  });
</script>
{% endblock %}
