<div class="row">
	<div class="span10 component-data">
		<h3>{{ component.name }}  <small>by {{ component.author_name }}</small></h3>
		<h5>{{ component.title }} </h5>
		<div>{{ component.description }} </div>
		{% for version in component.versions %}
			{% if version.value == "RELEASE" %}
				<div class="code span14 hide">Component code for "{{ version.value }}": <pre class="brush: js">{{ version.file_content|json_decode()|implode(' ')|base64_decode() }}</pre> </div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="versions span4" style="margin-top:20px">
	{% for version in component.versions|reverse %}
		<div class="version" style="margin-top:5px">
			<div>{{version.value}}: <a href="http://cdn.{{ app.request.server.get('HTTP_HOST') }}/{{ component.name }}-{{version.value}}.js">min</a> | <a href="http://cdn.{{ app.request.server.get('HTTP_HOST') }}/{{ component.name }}-{{version.value}}-uncompresed.js">full</a></div>
			<div> Date: {{version.createdAt|date()}}</div>
		</div>
	{% endfor %}
	</div>
</div>