<tr class="single_row">
	<td>
		<a href="{{ path('fwm_crafty_components_single', {'id' : component.id}) }}" class="name">{{ component.name }}</a>
	</td>
	<td class="description">{{ component.description }}</td>
	<td class="author">{{ component.authorName }}</td>
	<td class="release">
		<a href="http://cdn.craftycomponents.com/{{ component.name|lower }}-release.js">RELEASE</a>
	</td>
	<td class="latest-date">{{ version.createdAt|date('Y-m-d h:i:s') }}</td>
</tr>