<div>Component name: {{ component.name }} </div>
<div>Component title: {{ component.title }} </div>
<div>Component description: {{ component.description }} </div>
<div>Component version: {{ version.value }} </div>
<div class="code span14">Component code: <pre class="brush: js">{{ code }}</pre> </div>
