<tr class="single_row">
	<td>
		<a href="{{ path('fwm_crafty_components_single', {'id' : component.id}) }}" class="name">{{ component.name }}</a>
	</td>
	<td class="description">{{ component.description }}</td>
	<td class="author">{{ component.authorName }}</td>
	<td class="release">
		<a href="http://cdn.{{ app.request.server.get('HTTP_HOST') }}/{{ component.name|lower }}-release.js">RELEASE</a>
	</td>
</tr>